 @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Oswald";
}

html,body{
    width:100%;
    height:100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:rgb(121, 202, 129);
}

#page{
    width: 90%;
    height:90%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#pagetop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 30%;
    height: 70px;
    background-color: rgba(12, 75, 12, 0.775);
}

.elem{
    display: flex;
    align-items: center;
    gap:5px;
    color:white;
    font-size: 15px;
    font-weight: 400;
    
}
.elem h3{
    font-family:"Dela Gothic One";
    -webkit-text-stroke:0.01px  rgb(56, 217, 56);
}

.box{
    font-size: 25px;
    color: rgb(26, 163, 26);
    font-weight: 900;
    background-color: white;
    border-radius: 10px;
    padding: 4px 10px;
}

#pagebtm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding: 10px 10px;
    height:calc(100% - 70px);
    width: 100%;
    text-align: center;
}
.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(38, 119, 38);
    font-weight: 900;
    color: white;
}

.bubble:hover{
    cursor: pointer;
    background-color:lightgreen;
}

#h{
    -webkit-text-stroke: .5px rgb(224, 91, 91);
}

#t{
    -webkit-text-stroke: .5px rgb(182, 197, 52);
}
